# Default ignored files
/shelf/
/workspace.xml
# Android Studio 설정
.idea/
*.iml

#Android Studio 개인 작업 환경
/.idea/
/workspace.xml

# 빌드 결과물
build/
**/build/
.gradle/

# 로컬 설정 (개인 PC마다 다름)
local.properties